<header>
<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="bg-primary bg-gradient p-1 rounded-3 text-light">
            Currency
          </span>
          Converter</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link active" (click)="showHidPageMain()"  >Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class=" inline-block nav-link active" (click)="showConverPanel()" >Converte money</a>
            </li>

        </ul>
    </div>
</div>
</header>
