<div class="container">
  <app-header (onClickedButton)="showImageHome()" (showPanel)="showMainPage()" ></app-header>
  <img class="center" src="./assets/converter.png" alt="converter symbol" *ngIf="!(etat)">
  <app-convertisseur-devise *ngIf="etat" ></app-convertisseur-devise>
  <app-footer></app-footer>
</div>

