label{
  margin-right: 20px;
}

.add-form{
  margin-top: 80px;
}
.form-control{
  margin-top:30px;
  margin-bottom: 30px;
}
.form-control input{
  margin:20px 0;
  display:block;
}
p{
  margin-top: 35px;
  text-align: center;
  font-size: 2em;
}

