<form class="add-form">
  <div class="form-control">
    <div class="white-space: nowrap">
      <label for="amountToChange">From : </label>
      <!-- From-->
        <select (change)="getCurrencyFrom($event)" >
        <option disabled selected >Select currency</option>
        <option *ngFor="let element of post">{{element}}</option>
        </select>
    </div>

    <input [(ngModel)]="typedAmount"  type="number" name="text" id="amountToChange"
           placeholder="your amount to convert"/>
  </div>

  <div class="form-control">
    <div class="choose">
      <div class="white-space: nowrap">
        <label for="amountToChange">To : </label>
        <!-- To-->
        <select (change)="getCurrencyTo($event)">
          <option disabled selected>Select currency</option>
          <option *ngFor="let element of post">{{element}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary"  [disabled]="statusButton()" (click)="showText()">Convert</button>
  </div>
  <p>{{result}}</p>
</form>
